@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 10px;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin: 30px 0;
}

/* ------grid con cordenadas------ */
.grid {
    border: 3px solid black;
    width: 90%;
    height: 700px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid__item {
    font-size: 3rem;
}

.grid__item:nth-of-type(1) {
    background-color: #1eff8f;
    grid-column: 1/-1;
}

.grid__item:nth-of-type(2) {
    background-color: yellow;
    grid-column: 1/3;
    grid-row: 2/4;
}

.grid__item:nth-of-type(3) {
    background-color: crimson;
    grid-row: 2/4;
}

.grid__item:nth-of-type(4) {
    background-color: #a51eff;
}

.grid__item:nth-of-type(5) {
    background-color: #ff781e;
    grid-column: 2/4;
}

/* ------grid con span------ */

.grid__item--span {
    font-size: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid__item--span:nth-of-type(1) {
    background-color: #1eff8f;
    grid-column: span 3;
}

.grid__item--span:nth-of-type(2) {
    background-color: yellow;
    grid-column: span 2;
    grid-row: span 2;
}

.grid__item--span:nth-of-type(3) {
    background-color: crimson;
    grid-row: span 2;
}

.grid__item--span:nth-of-type(4) {
    background-color: #a51eff;
}

.grid__item--span:nth-of-type(5) {
    background-color: #ff781e;
    grid-column: span 2;
}


/* -------grid con areas------ */
.grid--area{
    border: 3px solid black;
    width: 90%;
    height: 700px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "header header header"
    "dos dos tres"
    "dos dos tres"
    "cuatro cinco ."
    ;
}

.grid__item--area {
    font-size: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid__item--area:nth-of-type(1) {
    background-color: #1eff8f;
    grid-area: header;
}

.grid__item--area:nth-of-type(2) {
    background-color: yellow;
    grid-area: dos;
}

.grid__item--area:nth-of-type(3) {
    background-color: crimson;
    grid-area: tres;
}

.grid__item--area:nth-of-type(4) {
    background-color: #a51eff;
    grid-area: cuatro;
}

.grid__item--area:nth-of-type(5) {
    background-color: #ff781e;
    
}